*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color:#FEFDFD;
  color: black;
  font-family:Verdana, sans-serif;
}
nav{
  margin-top: 20px;
  display: flex;
 justify-content:space-between;
  align-items: center;
  background: #e0e0e0;
border-radius: 10px;
box-shadow: 10px 10px 30px #adadad,
            -20px -20px 40px #ffffff;
}
nav img{
   width: 50px;
    height:auto ;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin: 10px;
    margin-left: 30px;
     filter: drop-shadow(0 0 8px rgb(255, 255, 255));
    
}
nav .left{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  padding-left:100px ;
  font-weight: bolder;
}
nav .left li a{
  transition: 0.3s;
}
nav .left li a{
  color: black;
  text-decoration: none;
  audio
}
nav .left li a:hover{
   color: grey;
  cursor: pointer;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
}
.hero h1{
     font-family: 'tangerine', sans-serif;
     
}